* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body, html {
    height: 100%;
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f5f5f5;
    font-size: 14px;
}

@font-face {
    font-family: "mori-bold";
    src: url("../fonts/moribold.woff2") format('woff2');
}

@font-face {
    font-family: "mori-sem";
    src: url("../fonts/morisemibold.woff2") format('woff2');
}

.app-container {
    width: 402px;
    height: 874px;
    margin: 0 auto;
    position: relative;
    background: white;
    border-radius: 0px;
    overflow: hidden;
    
    border: 2px solid black;
    
}



.button-container {
    position: absolute; 
    top: 0px;
    left: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    z-index: 2;
}

.top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; 
    height: 25px;
    font-size: 16px;
    color: rgb(56, 48, 34);
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10%;
    padding-right: -1px;
}

#back-button {
    margin-left: 0;
}

#ellipse {
    margin-right: 0;
}

.top-button:hover {
    background-color: #ffffff10;
}

.top-button:active {
    background-color: #ffffff2c;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}
.dropdown-menu a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    color: #333;
}
.dropdown-menu a:hover {
    background-color: #f0f0f0;
}


.event-banner {
    width: 100%;
    height: 240px; 
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 100); 
    overflow: hidden; 
}


.event-name {
    position: absolute;
    bottom: 10px; 
    left: 15px; 
    width: 271px; 
    height: 65px; 
    color: white;
    font-size: 30px; 
    font-family: "mori-bold", sans-serif;
    font-weight: bold;
    line-height: 1.2; 
    overflow: hidden; 
    z-index: 1; 
    display: flex;
    align-items: center; 
}


.profile-container-right {
    position: absolute;
    top: 220px; 
    right: 40px; 
    width: 40px; 
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25); 
}

.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.hosted-by {
    
    font-family: "mori-sem", sans-serif;
    position: relative; 
    margin: 17px 0px 16px 16px; 
    font-size: 24px; 
    font-weight: bold; 
    color: #000000; 
    text-align: left; 
}

.host-name {
    font-family: "mori-sem", sans-serif;
    color: #1B998B; 
    font-weight: bold; 
}

.event-tags-container {
    margin-top: 20px; 
    padding: 0px 0px;
    text-align: center;
}
.event-tags {
    display: flex;
    justify-content: center;
    gap: 8px;
    overflow-x: auto;
}

.event-tags span {
    background-color: #003E1F;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    color:white;
}

.explore-tags-section {
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 2%;
    padding-left: 25px;
    display: flex;
    white-space: nowrap; 
    gap: 10px;
    justify-content: left;
    scrollbar-width: none;
    overflow-x: auto;
  }

  .explore-tag {
    display: inline-flex;
    align-items: center;
    background: #003E1F;
    border: 1px solid #003E1F;
    padding: 7px 12px 4px 12px;
    border-radius: 20px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    position: relative;
  }

  .explore-tags-section::-webkit-scrollbar {
    display: none; 
}

.event-details {
    padding: 10px;
    background: white;
    margin: 10px 0;
}

.event-schedule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.event-description-box {
    background-color: #EDEDED;
    padding: 15px; 
    height: 200px;
    margin-bottom: -20px;
    border-radius: 10px;     
}

.event-description {
    font-size: 19px;
    color: #003E1F; 
    line-height: 1.5; 
    margin: 0; 
}


.event-time {
    font-family: "mori-bold", sans-serif;
    font-size: 36px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.event-location {
    font-family: "mori-bold", sans-serif;
    font-size:36px;
    text-align:center;
    padding-left: 5px;
    padding-right: 5px;
}
.event-slots {
    font-family: "mori-bold", sans-serif;
    font-size:36px;
    text-align:center;
    padding-left: 5px;
    padding-right: 5px;
}

.event-actions {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

.message-button {
    width: 48%;
    padding: 20px 0; 
    border: 2px solid #003E1F;
    border-radius: 50px;
    font-size: 18px; 
    font-weight: bold;
    color: #003E1F;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;

}

.join-button {
    width: 48%;
    padding: 20px 0; 
    border: none;
    border-radius: 50px;
    font-size: 18px; 
    font-weight: bold;
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #003E1F;
}

.message-button:hover, .join-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

  
.bottom-bar {
    backdrop-filter: blur(50px);
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.756);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(163, 163, 163, 0.7);
    width: 100%;
    height: 83px;
    padding-bottom: 30px;
}

.bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bruh {
    color: #999999;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: -2px;
    background-repeat: no-repeat;
    background-position: center center;
}

.bruh-text {
    color: #999999;
    font-size: 13px;
    margin-top: -10px;
    margin-left: 2%;
    white-space: nowrap
}

.bruh.active {
    color: #003E1F;
}

.bruh-text.active {
    color: #003E1F;
}