* {
    box-sizing: border-box;
  }

body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}
  

@font-face {
    font-family: "mori-bold";
    src: url("../fonts/moribold.woff2") format('woff2');
}

@font-face {
    font-family: "mori-semi";
    src: url("../fonts/morisemibold.woff2") format('woff2');
}

.tags-section {
    font-family: sans-serif;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

.home-tags-section {
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 2%;
    padding-left: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
  }

.explore-tags-section {
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 2%;
    padding-left: 25px;
    display: flex;
    white-space: nowrap; 
    gap: 10px;
    justify-content: left;
    scrollbar-width: none;
    overflow-x: auto;
  }

  .explore-tags-section::-webkit-scrollbar {
    display: none; 
}

  .home-tag {
    display: inline-flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #E84855;
    padding: 7px 12px 4px 12px;
    border-radius: 20px;
    font-size: 13px;
    color: #E84855;
    cursor: pointer;
    user-select: none;
    position: relative;
  }

  .home-tag.active {
    background: #E84855;
    color: #ffffff;
  }

  .explore-tag {
    display: inline-flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #003E1F;
    padding: 7px 12px 4px 12px;
    border-radius: 20px;
    font-size: 14px;
    color: #003E1F;
    cursor: pointer;
    user-select: none;
    position: relative;
  }
  .explore-tag.active {
    background: #003E1F;
    color: #ffffff;
  }

.top-container {
    height: 35%;
    background-color: #EDEDED;
}

.home-top-container {
    height: 31%;
    background-color: white;
}

.container {
    width: 402px;
    height: 874px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
    outline: auto;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}
.dropdown-menu a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    color: #333;
}
.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.profile-catchphrase {
    font-size: 18px;
    color: #003E1F; 
    font-weight: 500;
    margin-top: -4%;
    font-family: sans-serif;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.events-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.event {
    display: flex;
    flex-direction: column;
    width: 350px;
    font-family: Arial, sans-serif;
    outline-color: #004085;
    outline-width: 10px;
}

.event-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
    margin-left: 10px;
}

.event-image-wrapper {
    position: relative;
    width: 100%;
    height: 150px;
}

.event-text {
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    text-shadow: 2px 2px 7px black;
}

.event-time {
    padding-top: 10px;
    font-family: "mori-bold", sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.event-image {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 10px;
    z-index: 1;
    background: url("../images/event-thumbnail.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.event-image2 {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 10px;
    z-index: 1;
    background: url("../images/v44_719.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;

}

.event-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-icon {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid white;
    background: url("../images/profile-pic-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    border-radius: 50%;
}

.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    color: #003E1F;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}

.top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; 
    height: 25px;
    font-size: 16px;
    color: #fff;
    background-color: #003E1F;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10%;
    padding-right: -1px;
}

#back-button {
    margin-left: 0;
}

#ellipse {
    margin-right: 0;
}

.top-button:hover {
    background-color: #0056b3;
}

.top-button:active {
    background-color: #004085;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.title-container {
    display: flex;
    padding-top: 45px; 
    padding-left: 25px;
    width: 100%;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -7.7%;
}

.name-text {
    font-size: 25px;
    font-family: "mori-bold", sans-serif;
}

.downtime-text {
    font-family: "mori-bold";
    font-size: 48px;
    font-weight: normal;
    display: inline-block;
    width: 100%; 
    text-align: left; 
}

.header-text {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-top: 5%;
    padding-left: 25px;
}

.bottom-header-text {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-top: 2%;
    padding-left: 25px;
}

.friends-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -6.7%;
    width: 100%;
}

.friends-text {
    font-family: sans-serif;
    font-size: 24px;
    margin-top: 5%;
}

.friends-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin-top: 3%;
}

.middle-button {
    font-family: "sf-sem", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 17px;
    color: #fff;
    background-color: #003E1F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 3px 5px #017c3f42;
    ;
    user-select: none;
    line-height: 1.2; 
}

.middle-button svg {
    vertical-align: -10px;
}

.search-icon {
    width: 45px;
    height: 45px;
    background: url("../images/searchicon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    display: inline-block;
    transform: translateY(23%) translateX(160%);
}

.profile-icon {
    width: 140px;
    height: 140px;
    background: url("../images/anuprofile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5%;
    box-shadow: 0 3px 5px #017c3f42;
    margin-bottom: 5%;
    border: 3px solid white;
}

.bottom-home-container {
    opacity: 1;
    margin-top: 85%;
}

.bottom-container {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    opacity: 1;
}

.bottom-bar {
    backdrop-filter: blur(50px);
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.783);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(163, 163, 163, 0.7);
    width: 100%;
    height: 83px;
    padding-bottom: 30px;
}

.bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bruh {
    color: #999999;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: -2px;
    background-repeat: no-repeat;
    background-position: center center;
}

.bruh-text {
    color: #999999;
    font-size: 13px;
    margin-top: -10px;
    margin-left: 2%;
    white-space: nowrap
}

.bruh.active {
    color: #003E1F;
}

.bruh-text.active {
    color: #003E1F;
}

