<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Screen</title>
    <link href="{{ url_for('static', filename='css/eventscreen.css') }}" rel="stylesheet">
</head>
    <body>
        <div class="app-container">

        
            <div class="event-banner" style="background-image: url('{{ url_for('static', filename=event.photo) }}');">
                <div class="event-name">{{ event.name }}</div>
            </div>

                <div class="profile-container-right">
                    <img src="{{ url_for('static', filename=event.host_icon) }}" alt="Host Image" class="profile-image">
                </div>
            <div class="hosted-by">
                Hosted by <span class="host-name">{{ event.host }}</span>
            </div>
            
            <div class="event-tags-container">
                <div class="event-tags">
                    <span>#games</span>
                    <span>#mario</span>
                    <span>#nintendo</span>
                    <span>#switch</span>
                    <span>#donkeykong</span>
                </div>
            </div>

            <div class="event-details">
                <div class="event-schedule">
                    <span class="event-time">{{ event.time }}</span>
                    <span class="event-location">{{ event.location }}</span>
                    <span class="event-slots">{{ event.spots }}</span>
                </div>
                <div class="event-description-box">
                    <p class="event-description">
                        {{ event.description }}
                    </p>
                </div>
            </div>

            <div class="event-actions">
                <button class="message-button">Message</button>
                <button class="join-button">+ Join</button>
            </div>

            <div class="bottom-bar">
                <div class="bottom-item" data-name="Home" data-link="/">
                    <div class="home"></div>
                    <div class="home-text">Home</div>
                </div>
                <div class="bottom-item" data-name="Messages" data-action="under-construction">
                    <div class="messages"></div>
                    <div class="messages-text">Messages</div>
                </div>
                <div class="bottom-item" data-name="Create" data-link="/create_event">
                    <div class="create-event"></div>
                    <div class="create-event-text">Create</div>
                </div>
                <div class="bottom-item" data-name="Profile" data-link="/profile">
                    <div class="profile"></div>
                    <div class="profile-text">Profile</div>
                </div>
            </div>    

        </div>
        <script src="{{ url_for('static', filename='js/bottom.js') }}"></script>
    </body>
</html>
