<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PP+Mori+Bold&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=SF+Pro+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=SF+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PP+Mori+ExtraBold&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanuman&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=favorite,home,search,settings" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="home-top-container">
            <div class="title-container">
                <div class="downtime-text">
                    <span>Downtime</span>
                    <div class="search-icon"></div>
                </div>
            </div> 
            <div class="header-text">
                <span>Your Events</span>
            </div>
            <div class="home-tags-section" id="tagsSection">
                <span class="home-tag active">Upcoming</span>
                <span class="home-tag">Hosting</span>
                <span class="home-tag">Attended</span>
                <span class="home-tag">Past Events</span>
            </div>

            <div class="events-wrapper">
                {% for event in events %}
                <div class="event">
                    <div class="event-name">
                        {{ event.name }}
                    </div>
                    <div class="event-image-wrapper">
                        <div class="event-text">
                            Hosted by {{ event.host }}
                        </div>
                        <div class="event-time">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                              </svg> {{ event.time }}
                        </div>
                        <div class="event-image" style="background-image: url('{{ url_for('static', filename=event.photo) }}');"></div>
                        <div class="event-bottom">
                            <div class="event-icon" style="background-image: url('{{ url_for('static', filename=event.host_icon) }}');"></div>
                            <div class="plus-button added" data-event-id="{{ event.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                              </svg></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>No events found.</p>
                {% endfor %}
            </div>
        </div>
        <div class="bottom-home-container">
            <div class="bottom-header-text">
                <span>Explore Events</span>
            </div>
    
            <div class="explore-tags-section">
                <span class="explore-tag active">All Tags</span>
                <span class="explore-tag">#books</span>
                <span class="explore-tag">#sports</span>
                <span class="explore-tag">#ambient music</span>
                <span class="explore-tag">#donkey kong</span>
                <span class="explore-tag">#halo</span>
                <span class="explore-tag">#rachika nayar</span>
                <span class="explore-tag">#plunderphonics</span>
                <span class="explore-tag">#althusser</span>
                <span class="explore-tag">#haitian revolution</span>
                <span class="explore-tag">#ted lasso</span>
                <span class="explore-tag">#andrea dworkin</span>
                <span class="explore-tag">#unequal exchange</span>
                <span class="explore-tag">#banana mukbang</span>
                <span class="explore-tag">#asian financial crisis</span>
                <span class="explore-tag">#akihabara</span>
                <span class="explore-tag">#ui design</span>
                <span class="explore-tag">#brian smith lectures</span>
            </div>

            <div class="events-wrapper">
                {% for event in events %}
                <div class="event">
                    <div class="event-name">
                        {{ event.name }}
                    </div>
                    <div class="event-image-wrapper">
                        <div class="event-text">
                            Hosted by {{ event.host }}
                        </div>
                        <div class="event-time">
                            {{ event.time }}
                        </div>
                        <div class="event-image" style="background-image: url('{{ url_for('static', filename=event.photo) }}');"></div>
                        <div class="event-bottom">
                            <div class="event-icon" style="background-image: url('{{ url_for('static', filename=event.host_icon) }}');"></div>
                            <div class="plus-button" data-event-id="{{ event.id }}">+</div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>No events found.</p>
                {% endfor %}
            </div>
            
        </div>

        <div class="bottom-bar">
            <div class="bottom-item" data-name="Home" data-link="/">
                <div class="bruh active"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                  </svg></div>
                <div class="bruh-text active">Home</div>
            </div>
            <div class="bottom-item" data-name="Messages" data-action="under-construction">
                <div class="bruh"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                  </svg></div>
                <div class="bruh-text">Messages</div>
            </div>
            <div class="bottom-item" data-name="Create" data-link="/create_event">
                <div class="bruh"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-calendar-plus-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0"/>
                  </svg></div>
                <div class="bruh-text">Create</div>
            </div>
            <div class="bottom-item" data-name="Profile" data-link="/profile">
                <div class="bruh"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg></div>
                <div class="bruh-text">Profile</div>
            </div>
            </div>    
        </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bottom.js') }}"></script>
</body>
</html>
