<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PP+Mori+Bold&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=SF+Pro+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=SF+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PP+Mori+ExtraBold&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanuman&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="top-container">
            <div class="button-container">
                <!-- Back Button -->
                <div class="top-button" id="back-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 27 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
                        <polyline points="15 18 9 12 15 6"></polyline>
                      </svg>                      
                </div>
                <!-- Ellipse Button -->
                <div class="top-button" id="ellipse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                      </svg>
                    <div class="dropdown-menu" id="ellipse-menu" style="display: none;">
                        <a href="{{ url_for('home') }}">Home</a>
                        <a href="{{ url_for('profile') }}">Profile</a>
                        <a href="#">Settings</a>
                    </div>
                </div>
            </div>        
            <div class="profile-wrapper">
                <div class="name-text">
                    <span>Anu Engels</span>
                </div>
                <div class="profile-icon"></div>
                <div class="profile-catchphrase">
                    <span>I am a guy who likes to have fun.</span>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="friends-wrapper">
                <div class="friends-text">
                    <b>200</b> Friends
                </div>
            </div>
            <div class="friends-buttons">
                <div class="middle-button" id="add-friend-button" data-user-id="{{ user_id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                      </svg> 
                    
                      &nbsp;Add Friend
                </div>
                <div class="middle-button" id="message-button" data-user-id="{{ user_id }}"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                    </svg>
                    &nbsp;Message 
                </div>
            </div>
        </div>
        <div class="events-wrapper">
            {% for event in events %}
            <div class="event">
                <div class="event-name">
                    {{ event.name }}
                </div>
                <div class="event-image-wrapper">
                    <div class="event-text">
                        Hosted by {{ event.host }}
                    </div>
                    <div class="event-time">
                        {{ event.time }}
                    </div>
                    <div class="event-image" style="background-image: url('{{ url_for('static', filename=event.photo) }}');"></div>
                    <div class="event-bottom">
                        <div class="event-icon" style="background-image: url('{{ url_for('static', filename=event.host_icon) }}');"></div>
                        <div class="plus-button" data-event-id="{{ event.id }}">+</div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No events found.</p>
            {% endfor %}
        </div>
        <div class="bottom-bar">
            <div class="bottom-item" data-name="Home" data-link="/">
                <div class="bruh"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                  </svg></div>
                <div class="bruh-text">Home</div>
            </div>
            <div class="bottom-item" data-name="Messages" data-action="under-construction">
                <div class="bruh"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                  </svg></div>
                <div class="bruh-text">Messages</div>
            </div>
            <div class="bottom-item" data-name="Create" data-link="/create_event">
                <div class="bruh"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-calendar-plus-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0"/>
                  </svg></div>
                <div class="bruh-text">Create</div>
            </div>
            <div class="bottom-item" data-name="Profile" data-link="/profile">
                <div class="bruh active"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg></div>
                <div class="bruh-text active">Profile</div>
            </div>
            </div>    
        </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bottom.js') }}"></script>
</body>
</html>
