<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PP+Mori+Bold&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=SF+Pro+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=SF+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PP+Mori+ExtraBold&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanuman&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="top-container">
            <div class="button-container">
                <!-- Back Button -->
                <div class="top-button" id="back-button">
                    &lt;
                </div>
                <!-- Ellipse Button -->
                <div class="top-button" id="ellipse">
                    ...
                    <div class="dropdown-menu" id="ellipse-menu" style="display: none;">
                        <a href="{{ url_for('home') }}">Home</a>
                        <a href="{{ url_for('profile') }}">Profile</a>
                        <a href="#">Settings</a>
                    </div>
                </div>
            </div>        
            <div class="profile-wrapper">
                <div class="name-text">
                    <span>Zack R.</span>
                </div>
                <div class="profile-icon"></div>
                <div class="profile-catchphrase">
                    <span>I am a guy who likes to have fun.</span>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="friends-wrapper">
                <div class="friends-text">
                    <b>200</b> Friends
                </div>
            </div>
            <div class="friends-buttons">
                <div class="middle-button" id="add-friend-button" data-user-id="{{ user_id }}"> + Add Friend</div>
                <div class="middle-button" id="message-button" data-user-id="{{ user_id }}"> Message </div>
            </div>
        </div>
        <div class="events-wrapper">
            {% for event in events %}
            <div class="event">
                <div class="event-name">
                    {{ event.name }}
                </div>
                <div class="event-image-wrapper">
                    <div class="event-text">
                        Hosted by {{ event.host }}
                    </div>
                    <div class="event-time">
                        {{ event.time }}
                    </div>
                    <div class="event-image" style="background-image: url('{{ url_for('static', filename=event.photo) }}');"></div>
                    <div class="event-bottom">
                        <div class="event-icon" style="background-image: url('{{ url_for('static', filename=event.host_icon) }}');"></div>
                        <div class="plus-button" data-event-id="{{ event.id }}">+</div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No events found.</p>
            {% endfor %}
        </div>
        <div class="bottom-bar">
            <div class="bottom-item" data-name="Home" data-link="/">
                <div class="home"></div>
                <div class="home-text">Home</div>
            </div>
            <div class="bottom-item" data-name="Messages" data-action="under-construction">
                <div class="messages"></div>
                <div class="messages-text">Messages</div>
            </div>
            <div class="bottom-item" data-name="Create" data-link="/create_event">
                <div class="create-event"></div>
                <div class="create-event-text">Create</div>
            </div>
            <div class="bottom-item" data-name="Profile" data-link="/profile">
                <div class="profile"></div>
                <div class="profile-text">Profile</div>
            </div>
        </div>        
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bottom.js') }}"></script>
</body>
</html>
